
<style>
.headOne{
    background-color:cornflowerblue;
    border-bottom-width: 5px ;
    border-color: black;
    opacity: 50% ;

}
</style>

<header><h1 class='headOne'>{{pageTitle}}</h1>
<p> <a href='/'>  Home  </a></p>
<p ><a href='/about'>  About  </a></p>
</header>
