<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Title of the document</title>
</head>
<style>
.footStyle{
   ,

}
.container {
  background-color:brown;
  display: flex; /* or inline-flex */

flex-direction:column;
justify-content:center;
align-items:center

}
</style>

<body class="container">
{{>header}}
<p>Some owesome text</p>
{{>footer}}
</body>

</html>